RelativityInspector/RelativityInspector.Web/Scripts/i18n/
RelativityInspector/packages/
bin/
obj/
RelativityInspector/RelativityInspector.Web/node_modules/
RelativityInspector/.vs/RelativityInspector/v14/.suo
