<div class="panel-content">
    <div class="line-time">
        <div class="x-time"
             ng-style="{
                    left : (panel.positionX * xTime.index) + 'px'
                 }"
             ng-repeat="xTime in panel.sectionTimers">
            <div ng-repeat="item in xTime.items"
                 class="item">
                <bubble-time-line item="item"></bubble-time-line>
            </div>
            <span ng-if="(xTime.index % 10) === 0"
                  class="time-details">{{xTime.time|date: 'mediumTime'}}</span>
        </div>
    </div>
</div>